<div class="navbar-worldia">
  <!-- Logo -->
  <% link_to "/" do %>
    <div class="navbar-worldia-brand">
      <p>
          <%= image_tag "worldialogo.png" %>
      </p>
      <p id="tagline">
        voyages à la carte
      </p>
    </div>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-worldia-right">
    <!-- Text link -->
    <div id="login">
        <p id="logintext">Identifiez-vous:</p>
        <p>
          <a href="/">Mon compte</a>
        </p>
    </div>
  </div>

</div>
