<div class="navbar-worldia">
  <!-- Logo -->
  <div class="navbar-worldia-brand">
    <p>
      <% link_to "/" do %>
        <%= image_tag "worldialogo.png" %>
      <% end %>
    </p>
    <p id="tagline">
      voyages à la carte
    </p>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-worldia-right">
    <!-- Text link -->
    <a href="https://www.lewagon.com" class="navbar-wagon-item navbar-wagon-link">Connexion</a>
  </div>

</div>
