---
title: Worldia
---

<div class="welcome text-center padded">
  <h1>Welcome to Worldia</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div>
