---
title: Worldia
---

<div class="row mainpage">

  <!-- SCREEN 1 - Branding -->
  <div class="col-xs-12 text-center padded" id="screen1">
    <div id="textbox">
      <h2>Le bout du monde, sur mesure.</h2>
      <p>
        <a class="">
          <button type="button" class="btn btn-lg btn-danger">Choisir une destination
          </button>
        </a>
      </p>
    </div>
  </div>

  <!-- SCREEN 2 - Explanation -->
  <div class="col-xs-12 text-center padded" id="screen2">
    <div class="screencontent-holder">
      <h2 class="section-heading">Comment ça marche</h2>
      <div class="explanation">
        <div class="exp-item col-xs-12 col-sm-6 col-md-3">
          <div class="exp-item-icon"><img src="http://placehold.it/100x100"></div>
          <div class="exp-item-text">Choisissez <br>une destination</div>
        </div>
        <div class="exp-item col-xs-12 col-sm-6 col-md-3">
          <div class="exp-item-icon"><img src="http://placehold.it/100x100"></div>
          <div class="exp-item-text">Personnalisez</div>
          <div class="exp-item-description">Trajets, Hôtels, Activités</div>
        </div>
        <div class="exp-item col-xs-12 col-sm-6 col-md-3">
          <div class="exp-item-icon"><img src="http://placehold.it/100x100"></div>
          <div class="exp-item-text">Obtenez un devis</div>
          <div class="exp-item-description">Immédiatement !</div>
        </div>
        <div class="exp-item col-xs-12 col-sm-6 col-md-3">
          <div class="exp-item-icon"><img src="http://placehold.it/100x100"></div>
          <div class="exp-item-text">Profitez</div>
        </div>
      </div>
    </div>
  </div>

  <!-- SCREEN 3 - Video -->
  <div class="hidden-xs col-xs-12 text-center padded" id="screen3">
    <iframe src="https://player.vimeo.com/video/58990818" width="600" height="337" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="hidden-sm hidden-md hidden-lg text-center padded" id="screen3-mini">
    <iframe src="https://player.vimeo.com/video/58990818" width="300" height="169" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>


  <!-- SCREEN 4 - Examples -->
  <div class="col-xs-12 text-center padded" id="screen4">
    <div class="screencontent-holder">
      <h2 class="section-heading">Créés par la communauté</h2>
      <div class="row trip-cards-holder">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="trip-card">
            <% link_to "/" do %>
              <div class="trip-card-pic" id="newyork">
                <div class="overlay">voir le voyage</div>
                <div class="trip-card-price">
                  dès 990€
                </div>
              </div>
            <% end %>
            <div class="trip-card-text">
              <div class="trip-name">New York & Miami</div>
              <div class="trip-description">9 jours</div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="trip-card">
            <% link_to "/" do %>
              <div class="trip-card-pic" id="basicthai">
                  <div class="overlay">voir le voyage</div>
                  <div class="trip-card-price">
                    dès 990€
                </div>
              </div>
            <% end %>
              <div class="trip-card-text">
                <div class="trip-name">Basic Thaï</div>
                <div class="trip-description">12 jours</div>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="trip-card">
            <% link_to "/" do %>
              <div class="trip-card-pic" id="bali">
                  <div class="overlay">voir le voyage</div>
                  <div class="trip-card-price">
                    dès 790€
                </div>
              </div>
            <% end %>
              <div class="trip-card-text">
                <div class="trip-name">Bali, entre terre et mer</div>
                <div class="trip-description">11 jours</div>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="trip-card">
            <% link_to "/" do %>
              <div class="trip-card-pic" id="newyork">
                <div class="overlay">voir le voyage</div>
                <div class="trip-card-price">
                  dès 990€
                </div>
              </div>
            <% end %>
            <div class="trip-card-text">
              <div class="trip-name">New York & Miami</div>
              <div class="trip-description">9 jours</div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="trip-card">
            <% link_to "/" do %>
              <div class="trip-card-pic" id="basicthai">
                  <div class="overlay">voir le voyage</div>
                  <div class="trip-card-price">
                    dès 990€
                </div>
              </div>
            <% end %>
              <div class="trip-card-text">
                <div class="trip-name">Basic Thaï</div>
                <div class="trip-description">12 jours</div>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="trip-card">
            <% link_to "/" do %>
              <div class="trip-card-pic" id="bali">
                  <div class="overlay">voir le voyage</div>
                  <div class="trip-card-price">
                    dès 790€
                </div>
              </div>
            <% end %>
              <div class="trip-card-text">
                <div class="trip-name">Bali, entre terre et mer</div>
                <div class="trip-description">11 jours</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SCREEN 5 - Testimonials -->
  <div class="col-xs-12 text-center padded" id="screen5">
    <div class="screencontent-holder">
      <h2 class="section-heading">Ils sont partis avec Worldia</h2>
      <div class="testimonials row">
        <div class="quote col-xs-12 col-md-6">
          <div class="quote-text"><i class="fa fa-quote-left"></i>Très clair et facile d'utilisation pour un voyage à la carte.</div>
          <div class="quote-author">Stéphane T, New York & Washington</div>
        </div>
        <div class="quote col-xs-12 col-md-6">
          <div class="quote-text"><i class="fa fa-quote-left"></i>Toutes les réservations étaient parfaites.</div>
          <div class="quote-author">Claire N, New York & Orlando</div>
        </div>
    </div>
  </div>

</div>
