---
title: Worldia
---

<div class="row mainpage">

  <!-- SCREEN 1 - Branding -->
  <div class="col-xs-12 text-center padded" id="screen1">
    <div id="textbox">
      <h2>Le bout du monde, sur mesure.</h2>
      <p>
        <a class="">
          <button type="button" class="btn btn-lg btn-danger">Choisir une destination
          </button>
        </a>
      </p>
    </div>
  </div>

  <!-- SCREEN 2 - Explanation -->
  <div class="col-xs-12 text-center padded" id="screen2">
    <div class="screencontent-holder">
      <h2 class="section-heading">Comment ça marche</h2>
      <div class="explanation">
        <div class="exp-item col-xs-12 col-sm-6 col-md-3">
          <div class="exp-item-icon"><img src="http://placehold.it/100x100"></div>
          <div class="exp-item-text">Choisissez <br>une destination</div>
        </div>
        <div class="exp-item col-xs-12 col-sm-6 col-md-3">
          <div class="exp-item-icon"><img src="http://placehold.it/100x100"></div>
          <div class="exp-item-text">Personnalisez</div>
          <div class="exp-item-description">Trajets, Hôtels, Activités</div>
        </div>
        <div class="exp-item col-xs-12 col-sm-6 col-md-3">
          <div class="exp-item-icon"><img src="http://placehold.it/100x100"></div>
          <div class="exp-item-text">Obtenez un devis</div>
          <div class="exp-item-description">Immédiatement !</div>
        </div>
        <div class="exp-item col-xs-12 col-sm-6 col-md-3">
          <div class="exp-item-icon"><img src="http://placehold.it/100x100"></div>
          <div class="exp-item-text">Profitez</div>
        </div>
      </div>
    </div>
  </div>

  <!-- SCREEN 3 - Video -->
  <div class="hidden-xs col-xs-12 text-center padded" id="screen3">
    <iframe src="https://player.vimeo.com/video/58990818" width="600" height="337" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="hidden-sm hidden-md hidden-lg text-center padded" id="screen3-mini">
    <iframe src="https://player.vimeo.com/video/58990818" width="300" height="169" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>


  <!-- SCREEN 4 - Examples -->
  <div class="col-xs-12 text-center padded" id="screen4">
    <div class="screencontent-holder">
      <h2 class="section-heading">Créés par la communauté</h2>
      <div class="row trip-cards-holder">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="trip-card">
            <% link_to "/" do %>
              <div class="trip-card-pic" id="newyork">
                <div class="overlay">voir le voyage</div>
                <div class="trip-card-price">
                  dès 990€
                </div>
              </div>
            <% end %>
            <div class="trip-card-text">
              <div class="trip-name">New York & Miami</div>
              <div class="trip-description">9 jours</div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="trip-card">
            <% link_to "/" do %>
              <div class="trip-card-pic" id="basicthai">
                  <div class="overlay">voir le voyage</div>
                  <div class="trip-card-price">
                    dès 990€
                </div>
              </div>
            <% end %>
              <div class="trip-card-text">
                <div class="trip-name">Basic Thaï</div>
                <div class="trip-description">12 jours</div>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="trip-card">
            <% link_to "/" do %>
              <div class="trip-card-pic" id="bali">
                  <div class="overlay">voir le voyage</div>
                  <div class="trip-card-price">
                    dès 790€
                </div>
              </div>
            <% end %>
              <div class="trip-card-text">
                <div class="trip-name">Bali, entre terre et mer</div>
                <div class="trip-description">11 jours</div>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="trip-card">
            <% link_to "/" do %>
              <div class="trip-card-pic" id="newyork">
                <div class="overlay">voir le voyage</div>
                <div class="trip-card-price">
                  dès 990€
                </div>
              </div>
            <% end %>
            <div class="trip-card-text">
              <div class="trip-name">New York & Miami</div>
              <div class="trip-description">9 jours</div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="trip-card">
            <% link_to "/" do %>
              <div class="trip-card-pic" id="basicthai">
                  <div class="overlay">voir le voyage</div>
                  <div class="trip-card-price">
                    dès 990€
                </div>
              </div>
            <% end %>
              <div class="trip-card-text">
                <div class="trip-name">Basic Thaï</div>
                <div class="trip-description">12 jours</div>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="trip-card">
            <% link_to "/" do %>
              <div class="trip-card-pic" id="bali">
                  <div class="overlay">voir le voyage</div>
                  <div class="trip-card-price">
                    dès 790€
                </div>
              </div>
            <% end %>
              <div class="trip-card-text">
                <div class="trip-name">Bali, entre terre et mer</div>
                <div class="trip-description">11 jours</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SCREEN 5 - Testimonials -->
  <div class="col-xs-12 text-center padded" id="screen5">
    <div class="screencontent-holder">
      <h2 class="section-heading">Ils sont partis avec Worldia</h2>
      <div class="testimonials row">
        <div class="quote col-xs-12 col-md-6">
          <div class="quote-text"><i class="fa fa-quote-left"></i>Très clair et facile d'utilisation pour un voyage à la carte.</div>
          <div class="quote-author">Stéphane, New York & Washington</div>
        </div>
        <div class="quote col-xs-12 col-md-6">
          <div class="quote-text"><i class="fa fa-quote-left"></i>La prestation fournie était à la hauteur de nos attentes.</div>
          <div class="quote-author">Claude, Thaïlande</div>
        </div>
      </div>
      <div class="row">
        <div id="rating">
          4.6
          <span id="outoffive">/5</span>
        </div>
        <% link_to "https://www.ekomi.fr/avis-clients-worldia.html", target: "_blank", id: "allratings" do %>
          voir tous les avis
        <% end %>
      </div>
    </div>
  </div>

  <!-- SCREEN 6 - CTA recall -->
  <div class="col-xs-12 text-center padded" id="screen6">
    <div class="screencontent-holder">
      <p>
        <h2>Explorez le catalogue Worldia!</h2>
      </p>
      <p>
        <a class="">
          <button type="button" class="btn btn-lg btn-danger">Choisir une destination
          </button>
        </a>
      </p>
    </div>
  </div>

  <!-- SCREEN 7 - Pro -->
  <div class="col-xs-12 text-center padded" id="screen7">
    <div class="screencontent-holder">
    <h2 class="section-heading white-heading">Worldia dans votre agence ?</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6 agency-box"><img src="http://placehold.it/350x350"></div>
      <div class="col-xs-12 col-md-6 agency-box">
        <ul class="fa-ul" id="pro-advantages">
          <li><i class="fa-li fa fa-check-square"></i>Tarifs et dispos en temps réel</li>
          <li><i class="fa-li fa fa-check-square"></i>Directement présentable au client</li>
          <li><i class="fa-li fa fa-check-square"></i>Pas de frais d’installation</li>
        </ul>
        <div id="pro-cta">
          <a>
            <button type="button" class="btn btn-lg btn-info">En savoir plus
            </button>
          </a>
        </div>
      </div>
    </div>
      </p>
    </div>
  </div>


  <!-- Footer -->
  <div class="col-xs-12 text-center padded" id="footer">
    <div class="col-xs-12 col-sm-3">
      <div class="foot-title">A la carte</div>
      <div class="foot-content">
        <ul>
          <li>
            <% link_to "/destinations" do %>
            Destinations
            <% end %>
          </li>
          <li>
            <% link_to "/voyages" do %>
              Voyages
            <% end %>
          </li>
          <li>
            <% link_to "/activites" do %>
              Activités
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="foot-title">Légal</div>
      <div class="foot-content">
        <ul>
          <li>
            <% link_to "/cgu" do %>
            CGU
            <% end %>
          </li>
          <li>
            <% link_to "/cgv" do %>
              CGV
            <% end %>
          </li>
          <li>
            <% link_to "/documents/worldia_assurances_novembre2013.pdf" do %>
              Assurances
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="foot-title">Wordlia Group</div>
      <div class="foot-content">
        <ul>
          <li>
            <% link_to "/qui-sommes-nous" do %>
            Qui sommes-nous ?
            <% end %>
          </li>
          <li>
            <% link_to "/jobs" do %>
              Jobs
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="foot-title">Rejoignez-nous</div>
      <div class="foot-content">
        <div id="foot-social">
          <a href="https://www.facebook.com/Worldia/"><i class="fa-li fa fa-facebook"></i></a>
          <a href="https://www.facebook.com/Worldia/"><i class="fa-li fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company/2980106"><i class="fa-li fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12" id="legalmentions">
      <p>Worldia 2016</p>
      <p>Tous droits réservés</p>
    </div>
  </div>

</div>
